{% extends "dashbase.html" %}

{% block title %}Dashboard | Userinfo{% endblock %}

{% block content %}
<div class="flex-1 p-4">
    <h1 class="text-3xl font-semibold mb-4">Dashboard</h1>
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold mb-4">User Information</h2>
        <div class="mb-4">
            <p class="text-lg"><span class="font-semibold">User Name:</span> {{ user_name }}</p>
            <p class="text-lg"><span class="font-semibold">User ID:</span> {{ user_id }}</p>
        </div>
        <div class="flex justify-center">
            <img src="{{ avatar_url }}" alt="User Avatar" class="w-24 h-24 rounded-full">
        </div>
    </div>
</div>
{% endblock %}
